{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'js/sneeze.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Allergens</h1>

  <p>
    <button type="button"
	    class="btn btn-primary js-create-entity"
	    data-url="{% url 'allergen_create' %}">
      Add allergen
    </button>
  </p>

  <table class="table" id="entity-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Threshold</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% include 'sneeze/allergen_list.partial.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-entity">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}
