{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'js/sneeze.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Report details</h1>

  <table class="table" id="table-report-summary">
    <thead>
      <tr>
        <th>ID</th>
	<th>Date</th>
	<th>Full name</th>
        <th>Fiscal code</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>{{ report.id }}</td>
	<td>{{ report.date }}</td>
	<td>{{ report.patient.full_name }}</td>
	<td>{{ report.patient.fiscal_code }}</td>
      </tr>
    </tbody>
  </table>

  <p>
    <button type="button"
    	    class="btn btn-primary js-create-entity"
    	    data-url="{% url 'allergy_test_create' report.id %}">
      Add new result
    </button>
  </p>

  <table class="table" id="entity-table">
    <thead>
      <tr>
        <th>Allergen</th>
	<th>Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% include 'sneeze/allergy_test_list.partial.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-entity">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}
