{% for patient in patients %}
  <tr>
    <td>{{ patient.full_name }}</td>
    <td>{{ patient.fiscal_code }}</td>
    <td style="width: 150px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-entity"
              data-url="{% url 'patient_update' patient.fiscal_code %}">
	Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-entity"
              data-url="{% url 'patient_delete' patient.fiscal_code %}">
	Delete
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No patients</td>
  </tr>
{% endfor %}
